.PaginatedTable {
  $header-footer-color: #f2f2f2;
  $page-number-color: #205690;
  $column-header-text-color: #919191;
  $search-button-background-color: #d3d2d2;
  background-color: white;
  text-align: start;

  justify-content: center;
  height: 90vh;
  width: 100vw;
  box-sizing: border-box;

  &__search-form {
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6%;
    padding-right: 10px;
    max-height: 60px;
  }

  &__search-bar {
    height: 60%;
  }

  &__search-button {
    padding: 8px;
    background-color: $search-button-background-color;
    border: 1.5px solid rgb(44, 44, 44);
    height: 60%;
    margin: 0px;
    box-sizing: border-box;
    border-radius: 2px;
    min-height: 35px;
  }

  &__page-select {
    box-sizing: border-box;
    height: 60%;
    min-width: 65px;
    display: flex;
    align-self: center;
    min-height: 35px;
    cursor: pointer;
  }

  &__page-button {
    border: 0;
    padding: 8px;
    background-color: transparent;
    cursor: pointer;
  }

  &__items-per-page-display {
    white-space: nowrap;
    width: 200px;
  }

  &__column-header-row {
    position: sticky;
    text-align: left;
    z-index: 1;
    background-color: $header-footer-color;
  }

  &__column-header {
    position: sticky;
    font-weight: bold;
    z-index: 1;
    top: 2px;
    padding: 10px;
    color: $column-header-text-color;

    background-color: $header-footer-color;
  }

  &__page-container {
    margin-top: 20px;
    background-color: $header-footer-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9%;
    padding-left: 20px;
    padding-right: 40px;
    max-height: 100px;
  }

  &__page-selection {
    justify-content: space-between;
    gap: 10px;
    display: flex;
    align-items: center;

    height: 100%;
  }

  &__page-number-container {
    box-shadow: inset 0em 0.5em $page-number-color;
    width: 25%;
    justify-content: center;

    height: 100%;

    display: flex;
    align-items: center;
  }

  &__page-number {
    font-size: 1.5em;
    color: $page-number-color;
  }

  &__page-number-indicator {
    height: 50px;
    width: 50px;

    background-color: blue;
  }

  &__table {
    height: 100%;
    width: 100%;

    border-collapse: separate;
    background-color: white;
  }

  &__cell {
    border-top: 0.1em solid $header-footer-color;
    height: 60px;

    padding-left: 20px;
    padding-right: 10px;

    background-color: white;
  }

  &__table-container {
    max-height: 80%;
    min-height: 80%;

    overflow-y: scroll;
  }
}
